body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 200px;
  height: 280px;
}

.landscape {
  max-width: 280px;
  height: 200px;
}

.deck {
  min-width: 415px;
}

/* Modal */
.modal {
  max-width: 450px;
  height: 630px;
}
.modal_landscape {
  max-width: 630px;
  height: 450px;
}
